/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .selected {
    background-color: rgba(233, 31, 31, 0.507);
    width: 100%;
    height: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

#cart-icon {
width: 60px;
height: 60px;
}

.cart-widget {
    width: 100%;
    height: 100%;
}

 /* ITEM */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 5%;
  }

  .counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  .card-img-top {
    height: 50%;
    width: 50%;
  }
  


  

.first-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

